<header>
  <!-- static image at the top of page -->
  <h4 id="topTitle">MPR.org</h4>
  <p>Mongo Public Radio</p>
</header>
<main class="row">
  <div class="container">
    <div class="">

      <h1 class="text-center">"News, the Mongo Way"</h1>
      <button id="scrapeButton" type="button" class="btn btn-dark btn-lg">Scrape</button>

    </div>


    <div>
      <h4 class="newsTitle"></h4>
      <p class="newsSummary"></p>
      <!-- the link associated with the article would go in the href tag -->
      <a class="newsLink"></a>
    </div>
  </div>
</main>