<header>
  <!-- static image at the top of page -->
  <h4 id="topTitle">MPR.org</h4>
  <p>Mongo Public Radio</p>
</header><br>
<main class="row">
  <div class="container">
    <div class="">

      <h1 class="text-center">"News, the Mongo Way"</h1><br>
      <button id="scrapeButton" type="button" class="btn btn-dark btn-lg">Scrape</button>

    </div><br>


    <div id="scrapes">
      <h4 id="newsTitle"></h4>
      <p id="newsSummary"></p>
      <!-- the link associated with the article would go in the href tag -->
      <a id="newsLink"></a>
    </div>
  </div>
</main>