<main class="row">
  <div class="container">
    <header class="page-header">
      <!-- static image at the top of page -->
      <img src="..." alt="Stories that inspire" class="rounded mx-auto d-block">
      <h1 class="text-center">"News, the Mongo Way"</h1>
      <button id="scrapeButton" type="button" class="btn btn-dark btn-lg">Scrape</button>
    </header>


    <div>
      <h4 class="newsTitle"></h4>
      <p class="newsSummary"></p>
      <!-- the link associated with the article would go in the href tag -->
      <a class="newsLink" href="#" class="badge badge-dark"></a>
    </div>
  </div>
</main>