<main class="container-fluid">


  <div class="row">
    <!-- dynamically load the title of the article and the article-->
    <h4 class="newsTitle"></h4>
    <p class="newsArticle"></p>
    <!-- the link back to the home page -->
    <a class="homePage" href="/home" class="badge badge-dark"></a>
  </div>

  <div>
    <button id="homeButton" class="btn btn-lg">Read another article</button>
  </div>

  <div class="row container">
    <div class="col sm 12">
      <h4>Add Comment</h4>
      <!-- dynamically input the comments and associated users-->
      <input id="name" type="text" class="textwrapper" placeholder=" Your Name">
      <p><textarea id="comment" rows="5" class="textwrapper" placeholder=" Your Comment"></textarea></p>
    </div>
  </div>
  <div>
    <button id="addComment" class="btn btn-xs">Add Comment</button>
  </div>


  <div>
    <h4>Comments</h4>
    <!-- dynamically load the comments and associated users-->
    <div id="comments">

    </div>
  </div>

  <div>
    <button id="deleteComment" class="btn btn-xs">Delete Comment</button>
  </div>

</main>