<div>
  <!-- dynamically load the title of the article and the article-->
  <h4 class="newsTitle"></h4>
  <p class="newsArticle"></p>
  <!-- the link back to the home page -->
  <a class="homePage" href="/home" class="badge badge-dark"></a>
</div>

<div>
  <h3>Comments</h3>
  <!-- dynamically load the comments and associated users-->
  <p class="comment"></p>
  <p class="userName"></p>
</div>

<div>
  <button id="deleteComment" class="btn btn-xs">Delete Comment</button>
</div>

<div class="row">
  <div class="col sm 12">
    <h3>Add Comment</h3>
    <!-- dynamically input the comments and associated users-->
    <input type="text" class="textwrapper" placeholder=" Your Name">
    <p><textarea id="commentArea" rows="5" class="textwrapper" placeholder=" Your Comment"></textarea></p>
  </div>
</div>

<div>
  <button id="addComment" class="btn btn-xs">Add Comment</button>
</div>