<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- not sure if 'shrink to fit= no' is beta or not -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Test Page</title>

  <meta name="author" content="Heather Mathies">
  <meta name="description" content="">

  <!-- Bootstrap latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">

</head>

<body>
  <main class="row">
    <div class="container">
      <header class="page-header">
        <!-- static image at the top of page -->
        <img src="..." alt="Stories that inspire" class="rounded mx-auto d-block">
        <h1 class="text-center">"News, the Mongo Way"</h1>
        <button id="scrapeButton" type="button" class="btn btn-dark btn-lg">Scrape</button>
      </header>


      <div>
        <h4 class="newsTitle"></h4>
        <p class="newsSummary"></p>
        <!-- the link associated with the article would go in the href tag -->
        <a class="newsLink" href="#" class="badge badge-dark"></a>
      </div>

      <div class="row container">
        <div class="col sm 12">
          <h3>Add Comment</h3>
          <!-- dynamically input the comments and associated users-->
          <input id="name" type="text" class="" placeholder=" Your Name">
          <p><textarea id="commentArea" rows="5" class="" placeholder=" Your Comment"></textarea></p>
        </div>
      </div>

      <div>
        <button id="addComment" class="btn btn-xs">Add Comment</button>
      </div>
    </div>
  </main>

  <footer class="bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">
      <p>Designed and built by Heather Mathies. You can find the code<a href="https://github.com/hmathies/Mongo-News" target="_blank" rel="noopener"> here</a>.</p>
    </div>
  </footer>


  <!-- jQuery Google CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Bootstrap JS MaxCDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- not sure if below is the proper path to the js file -->
  <script src="../public/js/news.js"></script>
</body>

</html>