header {
  background-color: green;
  color: white;
  text-align: center;
  padding: 25px;
  width
}
#topTitle{
  margin: 0px;
}
#scrapeButton{
  margin-left: 45%;
  background-color: black;
  color: white;
}
.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
  width: 50%;
}

#homeButton {
  margin-left: 45%;
  background-color: black;
  color: white;
}

main{
    min-height: 550px;
}

body{

  background-color: rgba(20, 30, 7, 0.2);
}

#foot{
  height: 100px;
  padding: 20px;
  text-align: center;
  color:antiquewhite;
  background-color: rgb(36, 46, 38);
}
