/* header {
  background-color: green;
  color: white;
  text-align: center;
  padding: 25px;
  width: 100%;
  height: 200px;
}
#topTitle{
  margin: 0px;
}
#scrapeButton{
  margin-left: 45%;
  background-color: black;
  color: white;
}
.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
  width: 50%;
}

#homeButton {
  margin-left: 45%;
  background-color: black;
  color: white;
}

main{
    min-height: 900px;
}

body{

  background-color: rgba(20, 30, 7, 0.2);
}

#foot{
  height: 100px;
  padding: 20px;
  text-align: center;
  color:antiquewhite;
  background-color: rgb(36, 46, 38);
  min-height: 200px;
} */
header {
  background-color: green;
  color: white;
  text-align: center;
  padding: 25px;
  min-height: 150px;
  width: 100%;

}
#topTitle{
  margin: 0px;
  font-size: 40px;
}
#scrapeButton{
  margin-left: 40%;
  background-color: black;
  color: white;
  width: 20%;;
}
.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
  width: 50%;
}

#homeButton {
  margin-left: 45%;
  background-color: black;
  color: white;
}

main{
    min-height: 900px;
}
h1{
  font-size: 60px;
}

body{

  background-color: rgba(20, 30, 7, 0.2);
}
#foot{
  height: 100px;
  padding: 20px;
  text-align: center;
  color:antiquewhite;
  background-color: rgb(36, 46, 38);
  min-height: 200px;
  font-size: 20px;
}
#newsTitle{
  font-size: 70px;
}
h4{
  font-size: 25px;
  font-style: oblique;
}
